@import url('/css/Font_Awesome.css');

@font-face {
	font-family: 'Century Gothic';
	src: local('Century Gothic'), url(fonts/Century_Gothic.woff) format('woff');
}

@font-face {
	font-family: 'Elemental End';
	src: local('Elemental End'), url(fonts/Elemental_End.woff) format('woff');
}

@font-face {
	font-family: 'Varela Round';
	src: local('Varela Round'), local('VarelaRound-Regular'), url(fonts/Varela_Round.woff) format('woff');
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #F2F2F2;
	font-size: 16px;
}

#header {
	font-family: "Elemental End", Arial, Helvetica, sans-serif;
	font-size: 2.75rem;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px blue, -1px -1px 1px blue, 1px -1px 1px blue, -1px 1px 1px blue;
	background-color: #161616;
}

#body_content {
	text-align: left;
	padding: 10px;
}

#button_text {
	font-family: "Century Gothic", Arial;
	font-size: 1.563rem;
	color: #FFFFFF;
}

#title {
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 1.563rem;
	color: black;
}

#welcome {
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	color: #000000;
	float: left;
}

#logout {
    color: #10811F;
    background-color: #EFE;
	padding: 5px;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	border-radius: 5px;
	border: 2px solid #090;
}

#login-failed {
	color: #B00D0D;
	background-color: #F87F7F;
	padding: 5px;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	border-radius: 5px;
	border: 2px solid #FF0000;
}

#login-checkbox-text {
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	color: black;
}

#changePW_table {
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	color: black;
}

#admin_cp_link a {
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	color: #524A4A;
	text-decoration: underline;
	float: right;
}

#admin_cp_link a:hover {
	color: black;
}

#admin_cp_table {
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	color: black;
}

#forgot_pw_link {
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	color: black;
}

.welcome-highlighted {
	color: white;
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}
	
.box {
	padding: 5px;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	border-radius: 5px;
}

.small-box {
	width: 286px;
}

.box-error {
	color: #B00D0D;
	background-color: #F87F7F;
	border: 2px solid #FF0000;
}

.box-success {
    color: #10811F;
    background-color: #EFE;
	border: 2px solid #090;
}

.box-changePW {
	width: 250px;
	font-size: 0.9375rem;
}

.login {
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	color: green;
	font-size: 1.25rem;
	margin-left: 10px;
}

.login-form {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 220px;
}

.login-input {
	text-align: center;
	background-color: #D2D7D8;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 1rem;
	font-weight: 200;
	padding: 10px 0;
	width: 296px;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	color: black;
}

.login-input:focus {
	box-shadow: 0px 0px 0px 2px #3498DB;
	background-color: #ECF0F1;
}

.login-input:hover {
	background-color: #ECF0F1;
}

.login-button {
	border: 2px solid transparent;
	background: #3498DB;
	color: #ffffff;
	font-size: 1.375rem;
	line-height: 25px;
	padding: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	width: 300px;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.login-button:hover {
	background-color: #2980B9;
}

.login-table {
	margin-left: auto;
	margin-right: auto;
	background-color: #E6E6E6;
	border-radius: 5px;
	padding: 5px;
}

.animate {
	transition: all 0.1s;
}

.action-button {
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	float: left;
	height: 30px;
	width: 45px;
	border-radius: 10px;
	color: grey;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.red {
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green {
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.action-button:active {
	transform: translate(0px,6px);
	border-bottom: 2px solid;
}
